.ht(
  class="fixed top-[60%] right-[100px]"
  class="lg:static lg:mt-10"
)
  .ht-content(
    class="w-[300px]"
    class="lg:w-auto lg:flex lg:items-center lg:justify-center lg:gap-6"
  )
    .ht-label(
      class="font-primary-med text-right text-[19px] text-white"
      class="lg:max-w-[177px] lg:text-xs"
    ) Не нашли то, что нужно? Оформите свободный запрос. Мы поможем!
    a.ht-link(
      href="#"
      class="rounded-full ml-auto mt-2 w-[100px] h-[100px] flex items-center justify-center bg-[#4016A1] hover:bg-[#4B1ABB] shadow-md"
      class="lg:ml-0 lg:mt-0 lg:w-[60px] lg:h-[60px]"
    )
      .ht-link-icon(class="w-[64%] h-[64%] [&_svg]:w-full [&_svg]:h-full text-white")
        include ../../assets/images/icon-message.svg