mixin category-card-long(title)
  a.ccl(
    href="#"
    class="rounded-l-none rounded-2xl py-4 px-6 bg-[#4418A1]/60 duration-200 hover:bg-[#4418A1]/90"
    class="xl:py-2"
    data-category=title
  )
    .ccl-content(
      class="font-primary-med text-[32px] text-white"
      class="xl:text-2xl md:text-base"
    )= title